<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
</section>


<div class="container">
  <div class="col-md-8 col-md-offset-2 col-sm-10">

    <h1>Picture</h1>

    <p><%= link_to "写真をUPする", new_picture_path, class: 'btn btn-default' %></p>
    <% @pictures.reverse_each do |picture| %>
        <div class="row">

          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <div class="pull-left"><%= picture.user.name %></div>
              <div class="pull-right"><%= time_ago_in_words picture.created_at %>前</div>
            </div>
            <div class="panel-body">
              <%= image_tag(picture.picture_src, alt: "") %>
            </div>
            <div class="panel-footer">
              <p class="text-left"><%= picture.content %></p>
              <div class="text-right">
                <%= link_to "編集", edit_picture_path(picture.id), class: 'btn btn-default btn-sm btn-success' %>
                <%= link_to "削除", picture_path(picture.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
              </div>
            </div>
          </div>
        </div>
    <% end %>

  </div>
</div>

<div id="page-top-btn" class="page-top-btn">
  <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>