<h1>Pictures#index</h1>
<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
</section>


<div class="container">
  <div class="col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>

    <h1>写真一覧</h1>

    <%= link_to "写真をUPする", new_picture_path, class: 'btn btn-default' %>
    <% @pictures.each do |picture| %>
        <div class="row">
          <h4><strong><%#= picture.title %></strong></h4>
          <p><%= picture.content %></p>
          <p>〈投稿者〉id：<%= picture.user_id %>、 <%= picture.user.name %><br>
            <%# unless picture.user.image_url.blank? %>
                <%#= image_tag(picture.user.image_url, alt: picture.user.name) %>
            <%# else %>
                <%#= image_tag(picture.user.avatar, alt: picture.user.name) %>
            <%# end %>
          </p>

          <%= link_to "編集", edit_picture_path(picture.id), class: 'btn btn-default btn-sm btn-success' %>
          <%= link_to "削除", picture_path(picture.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
        </div>
    <% end %>

  </div>
</div>

<div id="page-top-btn" class="page-top-btn">
  <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>